<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../../mdl/material.min.css">
    <script src="../../mdl/material.min.js"></script>
    <link rel="stylesheet" href="../../mdl/fonts.css">
</head>
<style>
    
    .material-icons {
            color: white;
        }
        
        img.material-icons {
            width: 30px;
            height: 30px;
            background-image: linear-gradient(to bottom, #00FF80, #58D3F7 130%);
            border-radius: 50%;
            padding: 5px;
            margin-right: 16px;
        }
        p{
            font-size: 1.3em;
            color: #009688;
            margin-top: 2%;
            height: 80%;
          }
</style>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">RECICLE</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Login</a>
                <a class="mdl-navigation__link" href="./source/view/menu_lateral/">ABNT 1004</a>
                <a class="mdl-navigation__link" href="./source/view/menu_lateral/">Calendário de Coleta</a>
                <!-- <a class="mdl-navigation__link" href="./source/view/menu_lateral/">Editar Contatos</a>
                <a class="mdl-navigation__link" href="./source/view/menu_lateral/">Cadastrar volume de Lixo</a> -->
            </nav>
        </div>
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span id="titulo" class="mdl-layout-title">Entre em Contato</span>
            </div>
          
        </header>
        <main class="mdl-layout__content">  
            <div class="page-content">
                <span class="mdl-list__item-primary-content">
                    <p >Secretaria de Desenvolvimento Econômico e Ambiental (SDE) (55) 3376 – 9120
                        <br>
                        O DiskContainer é o fone que atende problemas com containers, pedidos de recolhimentos emergenciais, containers cheios e mesmo solicitar lavagem de containers.
                       <b>
                        (55) 9635-7205
                       </b> 
                    </p>
                    <img src="./../../files/contato/sde 2.jpg" style="height: 70%; width: 70%;" alt="">
                </span>
            </div>
        </main>
        <footer>
  
            <span class="voltar" onclick="window. history. back()" style="text-align: center;cursor: pointer;">
              <img class="material-icons" src="./../../files/seta.png"  alt="voltar">                                
              
            </span>
          </footer>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
    <script defer src="../../script/init-firebase.js"></script>
    <!-- <script type="module" src="./script.js"></script> -->
</body>

</html>